@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Satoshi Font */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/WEB/fonts/Satoshi-Variable.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/WEB/fonts/Satoshi-VariableItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-white dark:bg-gray-900;
  overflow-x: hidden;
  font-family: "Satoshi", system-ui, sans-serif;
  font-weight: 450;
}

html {
  overflow-x: hidden;
}

/* Pulsating animation for live badge */
@keyframes pulse-live {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.89);
  }
  35%,
  100% {
    box-shadow: 0 0 0 5px rgba(239, 68, 68, 0);
  }
}

.animate-pulse-live {
  animation: pulse-live 4s ease-in-out infinite;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: "Satoshi", system-ui, sans-serif;
  font-weight: 800;
}

strong,
b {
  font-weight: 600;
}

/* Shadow utility classes - Light mode */
.shadow-s {
  box-shadow: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030,
    0 2px 4px #00000015;
}

.shadow-m {
  box-shadow: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030,
    0 4px 8px #00000015;
}

.shadow-l {
  box-shadow: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030,
    0 6px 10px #00000015;
}
